    {% load static %}
<!doctype html>
<html>
<head>
  <title>Tasks</title>
</head>
<body>
  <h1>Tasks</h1>

  <p><a href="{% url 'tasks:create' %}">+ Create Task</a></p>

  <ul>
    {% for task in tasks %}
      <li>
        <strong>{{ task.title }}</strong> — {{ task.get_status_display }}
        {% if task.due_date %}(Due: {{ task.due_date }}){% endif %}
        | <a href="{% url 'tasks:update' task.pk %}">Edit</a>
        | <a href="#"
  class="js-confirm"
   data-action-url="{% url 'tasks:delete' task.pk %}"
   data-message="Delete: {{ task.title|escape }}?"
   data-confirm-text="Yes, delete">
  Delete
</a>
</li>
<li>
<a href="#"
   class="js-confirm"
   data-action-url="{% url 'tasks:done' task.pk %}"
   data-message="Mark this task as Done: {{ task.title|escape }}?"
   data-confirm-text="Yes, mark done">
  Mark Done
</a>
      </li>
      <li><a href="#"
   class="js-confirm"
   data-action-url="{% url 'tasks:archive' task.pk %}"
   data-message="Archive this task: {{ task.title|escape }}?"
   data-confirm-text="Yes, archive">
  Archive
</a>
</li>
    {% empty %}
      <li>No tasks yet.</li>
    {% endfor %}
  </ul>
  {% include "components/confirm_modal.html" %}
<script src="{% static 'taskmanagement/js/confirm_modal.js' %}"></script>

</body>
</html>
